In [1]:
print("Hello Python")
print("This is Jupyter Notebook")
print("This is the start of Python tutorial")
print("print() is used to display results on the output field")

Hello Python
This is Jupyter Notebook
This is the start of Python tutorial
print() is used to display results on the output field

In [2]:
##This is comments
print("Comments won't be visible")
'''This is a multilinecomment'''

Comments won't be visible

'This is a multilinecomment'

In [3]:
3+4

7

In [6]:
# declaring python variables

# integer
x = 10
y = 23
sum = x + y
print(sum)

# char
ch = 'a'
str = "This is a string"
print(ch)
print(str)

# float
dec_num = 2.562
print(dec_num)

# bool
bool_val = True
print(bool_val)

print(dec_num, bool_val)

33
a
This is a string
2.562
True
2.562 True

In [20]:
# type() method
x = 17
y = "IronMan"
z = 95.474
a = True
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [19]:
x = 17
y = "IronMan"
z = 95.474
a = True

# we can't concat integers, so give a comma operator instead
print("I am " + y + " and I have travelled",x, "countries")
print("I have", z, "% battery and it is", a)
print("Now I am charged to", z+3.475, "% battery")

# print with the separator
print(x, y, z, a, sep=" ~ ")

I am IronMan and I have travelled 17 countries
I have 95.474 % battery and it is True
Now I am charged to 98.949 % battery
17 ~ IronMan ~ 95.474 ~ True

In [7]:
print('single quote string')

'''Python Datatypes
 1. Numeric 
 i. Integer    ii. Float   iii. Complex Numbers
 2. Dictionary(JS objects)
 3. Boolean
 4. Set ( unordered collection of unique items )
 5. Sequence type
 i. Strings    ii. Lists(arrays)   iii. Tuples((1,2,3,4))
 6. None (NULL)'''

single quote string

'Python Datatypes\n 1. Numeric \n i. Integer    ii. Float   iii. Complex Numbers\n 2. Dictionary(JS objects)\n 3. Boolean\n 4. Set ( unordered collection of unique items )\n 5. Sequence type\n i. Strings    ii. Lists(arrays)   iii. Tuples((1,2,3,4))\n 6. None (NULL)'

In [2]:
# some in-built functions

# ord() : print ascii values of characters
ch = 'a'
print(ord(ch))

# chr() : print character for the ascii value
ch2 = 65
print(chr(ch2))

97
A

In [2]:
# Arithmetic operators
# +, -, *, /, %, ** => exponential, // => floor division(round it off to nerest whole no)

# arithmetic operators examples
print("addition : ", 5+4)
print("subtraction : ", 5-4)
print("multiplication : ", 5*4)
print("division : ", 5/4)
print("modulo : ", 5%4)
print("exponentiation : ", 3**4)
print("Floor division", 4//3)

addition :  9
subtraction :  1
multiplication :  20
division :  1.25
modulo :  1
exponentiation :  81
Floor division 1

In [10]:
# Assignment operators
'''
1. =
2. +=, -=, *= , /= 
3. ==, !=, >=, <=, >, < 
'''

'1. =\n2. +=, -=, *= , /= \n3. ==, !=, >=, <=, >, < '

In [13]:
# Logical operator
exp1 = 2 > 1 # True
exp2 = 5 < 4 # False
print("and : ", exp1 and exp2)
print("or : ", exp1 or exp2)
print("not : ", not exp2)

and :  False
or :  True
not :  True

In [14]:
# Identity operators

# 1. is => returns true if both VARIABLES ARE SAME OBJECTS
# 2. is not => returns true if both VARIABLES ARE NOT THE SAME OBJECTS

x = 5
y = 5

print("if x is y : ", x is y)
print("if x is not y : ", x is not y)

if x is y :  True
if x is not y :  False

In [17]:
# Membership operators(use with lists, tuples)
# 1. 'in' = returns TRUE if A SEQUENCE WITH THE SPECIFIED VALUE IS PRESENT IN THE OBJECT
# 2. 'not in' = returns TRUE if A SEQUENCE WITH THE SPECIFIED VALUE IS NOT PRESENT

fruits = ["apples", "banana", "cherry"]
print("if banana is present in fruits : ", "banana" in fruits)
print("if mango is present in fruits : ", "mango" not in fruits)

if banana is present in fruits :  True
if mango is present in fruits :  True

In [18]:
# Bitwise operators
a = 5
b = 3
print("a & b : ", a & b)
print("a | b : ", a | b)
print("a ^ b : ", a ^ b)

a & b :  1
a | b :  7
a ^ b :  6

In [8]:
# Volume of sphere
r = float(input("Enter the radius of the sphere : "))
vol = (4/3)*3.14158*(r**3)
print("Volume of the Sphere is : ", vol)

Volume of the Sphere is :  523.5966666666666

In [ ]:
# operator precedence
'''
1. ()
2. **
3. /, //, %
4. *
5. +, -
6. Bitwise shift >>, <<
7. &, |, ^
8. comparision ==, !=, >, <
9. Logical operators
'''

In [26]:
# type casting
a = 2
b = 3
c = 5

a_str = str(a)
b_str = str(b)
c_str = str(c)

final_str = a_str + b_str + c_str
print("Finally the result is :", final_str,"and its type is", type(final_str))

Finally the result is : 235 and its type is <class 'str'>

In [9]:
# Celsius to Fahrenheit temperature
deg_c = int(input("Enter the temperature in degree Celsius : "))
f = ((9/5)*deg_c)+32
print("The Temperature in deg F is : ", f)

The Temperature in deg F is :  50.0